<h2>Show restaurants</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @restaurants.name %>
  </li>

</ul>

<%= link "Edit", to: restaurant_path(@conn, :edit, @restaurants) %>
<%= link "Back", to: restaurant_path(@conn, :index) %>
