<h2>Show restaurant</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @restaurant.name %>
  </li>

</ul>

<%= link "Edit", to: restaurant_path(@conn, :edit, @restaurant) %>
<%= link "Back", to: restaurant_path(@conn, :index) %>
